html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 207, 181);
}


#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(43, 32, 15);
}

#screen {
    display: flex;
    border: 2px solid black;
    width: 450px;
    height: 150px;
    border-radius: 10px;
    margin: 3px;
    text-align: right;
    font-size: 90px;
    font-family: 'Calculator', sans-serif;
    background-color: rgb(228, 241, 215);
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 450px;
    height: 600px;
    gap: 10px;
    margin: 7px;
}

.button {
    flex: 1 1 90px;
    border-radius: 10%;
    text-align: center;
    padding: 10px;
    border: none;
    background-color: rgb(70, 102, 71);
    color: rgb(179, 224, 175);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 45px;
}

.button:hover{
    filter: brightness(120%);
}

.button:active {
    background: rgb(29, 49, 28);
}

#b0 {
    flex-basis: 317px;
}

#bAC {
    background-color: rgba(228, 57, 27, 0.795);
    color: rgb(255, 207, 195);
    flex-basis: 204px;
}
#bAC:active {
    background-color: rgba(107, 24, 9, 0.795);
}

#bDel {
    background-color: rgba(228, 57, 27, 0.795);
    color: rgb(255, 207, 195);
}
#bDel:active {
    background-color: rgba(107, 24, 9, 0.795);
}

.button[name="/"] {
    background: rgb(79, 153, 147);
    color: rgb(200, 242, 255);
}
.button:active[name="/"] {
    background: rgb(43, 88, 85);
}
.button[name="+"] {
    background: rgb(79, 153, 147);
    color: rgb(200, 242, 255);
}
.button:active[name="+"] {
    background: rgb(43, 88, 85);
}

.button[name="X"] {
    background: rgb(79, 153, 147);
    color: rgb(200, 242, 255);
}
.button:active[name="X"] {
    background: rgb(43, 88, 85);
}

.button[name="-"] {
    background: rgb(79, 153, 147);
    color: rgb(200, 242, 255);
}
.button:active[name="-"] {
    background: rgb(43, 88, 85);
}

.button[name="="] {
    background: rgb(79, 153, 147);
    color: rgb(200, 242, 255);
}
.button:active[name="="] {
    background: rgb(43, 88, 85);
}